---
title: PS Engineering Certifications 
suppress_header: true
description: "PS Engineering Certifications"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Technical Certifications geared towards Professional Services Engineers 
    %h2.headline-subtitle
      Train your team to become proficient in delivering GitLab services

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Summary
        %p DevOps consulting businesses are driven by teams that are composed of technical experts, consultants, and project managers. As you add GitLab to your portfolio of services, learn how to deliver foundational services to amplify our customer's investment in GitLab.

        %h2 Who is this service for?
        %p DevOps professional service practitioners who sell and deliver GitLab services. 

        %h2 What's included?
        %p GitLab is publishing a number of new certification paths in November 2021. These learning journeys are self paced and digital to help fit into your busy schedule. To earn the below certifications, you must complete the coursework, including written exams as well as complete a hands on lab assessment. 
        %p Here are the standard certifications we offer.
        %ul
          %li
            %a{href: '/services/pse-certifications/pse-specialist/'} GitLab Certified Professional Services Engineer Specialist (Coming Soon!)
          %li
            %a{href: '/services/pse-certifications/implementation-specialist/'} GitLab Certified Implementation Engineer Specialist
          %li 
            %a{href: '/handbook/customer-success/professional-services-engineering/gitlab-certified-migration-services-engineer/'} GitLab Certified Migration Engineer Specialist
          

= partial "includes/services-contact-form"

