---
layout: handbook-page-toc
title: "Authentication and Authorization Group"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

### Manage:Authentication and Authorization
{: #welcome}


### How we work

* In accordance with our [GitLab values](/handbook/values/).
* Transparently: nearly everything is public, we record/livestream meetings whenever possible.
* We get a chance to work on the things we want to work on.
* Everyone can contribute; no silos.
  * The goal is to have product give engineering and design the opportunity to be involved with direction and issue definition from the very beginning.
* We do an optional, asynchronous daily stand-up in our group stand-up channel:
  * Manage:Authentication and Authorization [#g_manage_access_daily](https://gitlab.slack.com/archives/C01311Z0LDD)



#### Prioritization
<%= partial("handbook/engineering/development/dev/manage/prioritization.erb") %>

#### Organizing the work

<%= partial("handbook/engineering/development/dev/manage/organizing_work.erb") %>

#### Estimation

<%= partial("handbook/engineering/development/dev/manage/estimation.erb") %>

#### Planning

<%= partial("handbook/engineering/development/dev/manage/planning.erb") %>

#### During a release

<%= partial("handbook/engineering/development/dev/manage/release.erb") %>

#### Proof-of-concept MRs

<%= partial("handbook/engineering/development/dev/manage/pocs.erb") %>

### Working on unscheduled issues

<%= partial("handbook/engineering/development/dev/manage/unscheduled_issues.erb") %>


### Additional considerations

<%= partial("handbook/engineering/development/dev/manage/access_processes.erb") %>


## Meetings

Although we have a bias for asynchronous communication, synchronous meetings are necessary and should adhere to our [communication guidelines](/handbook/communication/#video-calls). Some regular meetings that take place in Manage are:

| Frequency | Meeting                              | DRI         | Possible topics                                                                                        |
|-----------|--------------------------------------|-------------|--------------------------------------------------------------------------------------------------------|
| Weekly    | Group-level meeting                  | Backend Engineering Managers | Ensure current release is on track by walking the board, unblock specific issues                       |
| Monthly   | Planning meetings                    | Product Managers         | See [Planning](/handbook/engineering/development/dev/manage/#planning) section |

For one-off, topic specific meetings, please always consider recording these calls and sharing them (or taking notes in a [publicly available document](https://docs.google.com/document/d/1kE8udlwjAiMjZW4p1yARUPNmBgHYReK4Ks5xOJW6Tdw/edit)).

Agenda documents and recordings can be placed in the [shared Google drive](https://drive.google.com/drive/u/0/folders/0ALpc3GhrDkKwUk9PVA) (internal only) as a single source of truth.

Meetings that are not 1:1s or covering confidential topics should be added to the Manage Shared calendar.

All meetings should have an agenda prepared at least 12 hours in advance. If this is not the case, you are not obligated to attend the meeting. Consider meetings canceled if they do not have an agenda by the start time of the meeting.

## Group Members

The following people are permanent members of the group:

<%= stable_counterparts(role_regexp: /Manage.+Access/) %>

## Dashboards 

- [SAML SSO Usage](https://app.periscopedata.com/app/gitlab/636494/Dev:-Manage:-Access-SAML-SSO-Usage)
- [Backend overview](https://app.periscopedata.com/app/gitlab/695525/Manage::Access-Backend-Overview)
- [Usage ping](https://app.periscopedata.com/app/gitlab/857665/Manage:Access---Usage-Ping)

## Links and resources
{: #links}

<%= partial("handbook/engineering/development/dev/manage/shared_links.erb") %>
* Our Slack channels
  * Manage:Authentication and Authorization [#g_manage_access](https://gitlab.slack.com/messages/CLM1D8QR0)
  * Daily standups [#g_manage_access_daily](https://gitlab.slack.com/archives/C01311Z0LDD)
* Issue boards
  * Access [build board](https://gitlab.com/groups/gitlab-org/-/boards/1305005) and [refinement board](https://gitlab.com/groups/gitlab-org/-/boards/1747837)
